.sendMessage{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background: #005C4B;
    padding: 0.65em 3.5em 0.65em 0.65em;
    border-radius: 0.4em;
    margin: 1em 1em 0 1em;
    max-width: 54%;
    word-break: break-word;
    position: relative;
}

.messageSent{
    color: #D1D5D8;
    font-size: 0.85em;
    margin: 0;
}

.cornerSend{
    display: flex;
    margin-left: 1em;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0.2em;
    right: 0.4em;
}

.timeSend {
    color: #80AEA5;
    font-size: 0.65em;
}