.screen{
  height: 100%;
  width: 100%;
  background-color: #111B21;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.leftPanel {
  background-color: #111B21;
  width: 30.5%;
}

.rightPanel {
  background-color: #222E35;
  width: 69.5%;
  border-left: 0.01em solid #2F3B43;
}